{{define "head-meta" -}}
<meta property="og:site_name" content="{{.Site.Config.Title}}">
<meta property="og:title" content="{{.Title}}">
<meta property="og:type" content="{{if .Note}}article{{else}}website{{end}}">
{{- if ne .Kind "404"}}
<meta property="og:url" content="{{absURL .URL}}">{{end}}
{{- with .Description}}
<meta property="og:description" content="{{.}}">{{end}}
{{- with .Note}}
<meta property="article:modified_time" content="{{isoDate .Updated}}">{{end}}
{{- /* The note's image or cover property, else the site's image. */}}
{{- $img := .Site.Config.Image}}{{with .Note}}{{with .Image}}{{$img = .}}{{end}}{{end}}
{{- with $img}}
<meta property="og:image" content="{{if hasPrefix . "/"}}{{absURL .}}{{else}}{{.}}{{end}}">{{end}}
<meta name="twitter:card" content="{{if $img}}summary_large_image{{else}}summary{{end}}">
<meta name="twitter:title" content="{{.Title}}">
{{- with .Description}}
<meta name="twitter:description" content="{{.}}">{{end}}
{{- end}}
